/* CSS reset */
html,body,ol,pre,form,fieldset,blockquote,th,td{margin:0;padding:0;}
div,ul,li,h1,h2,h3,h4,h5,h6,input,textarea,p{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight: normal;}
table {border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
ol,ul{list-style:none;}
.clear{clear:both;}
*{-moz-box-sizing:border-box;box-sizing:border-box;}
/* !CSS reset */

 html,body{
        height: 100%;
    }

    b{
        display: block;
    }

    header{
        z-index: 9;
        position: relative;
        height: 40px;
        background: #555;
    }

    /*.content{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-top: 40px;
    }*/


    .block{
        margin-top: 10px;
        }

    .db{
        position: relative;
        width: 50%;
        padding: 10px;
        float: left;
        }
        .db-left{
            padding-right: 5px;
            }
        .db-right{
            padding-left: 5px;
            }

    .db__table-name{
        height: 30px;
        line-height:30px;
        background: rgba(0, 0, 0, 0.3);
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        text-align: center;
        font-weight: 600;
        }

    .db__structure{
        position: relative;
        width: 100%;
        height: 100%;
        background: #eee;
        border: solid 1px #666;
        float: left;
        overflow: auto;
        padding: 5px;
        text-align: left;
        table-layout:fixed;
        font-size: 13px;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        }
        .db__structure th{
            border: solid 1px rgba(0,0,0,0.2);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 5px;
            height: 30px;
            }
        .db__structure tbody th{
            font-weight: 300;
            }

        .db__structure tbody tr:hover,
        .db__structure tbody tr.hover{
            background: rgba(255,255,255,.5);
            }

        .block .diff-red{
            background: rgba(255,0,0,.5);
            }

        .block .db__table-name.diff-red{
            background: rgba(150,0,0,.7);
            }

        .block .diff-blue{
            background: rgba(0,100,255,.5);
            }






    /*.alert{
        background: rgba(0,50,200,0.5) !important;
    }

    table.alert{
        background: rgba(250,0,0,0.5) !important;
    }